body {
	background-color: #404040;
}

h1, p {
	color: #e06e12;
}
img {
background: "https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiuqLTr4cLSAhXFNpQKHezSB3AQjRwIBw&url=https%3A%2F%2Fwww.halowaypoint.com%2Fen-us%2Fgames%2Fhalo-3&bvm=bv.148747831,d.dGo&psig=AFQjCNHzbK3vwNFqxkoKVeh-yVm8wtg9UA&ust=1488920120308852"
}